<div class="max-w-full h-auto bg-white rounded-md">
    <div class="block mx-auto text-center py-8">
    <span class="page-title">BRIEF HISTORY AND BACKGROUND</span>
    </div>
    <div class="block mx-auto text-center py-5">
        <div class="mx-10 pb-10 text-justify">
            <span class="paragraph-text">
                The festival was introduced twelve (12) years ago (2012) and started as an Agritourism trade exhibit celebrating the province's main product, the coconut. The
festival celebrates the diversity of every town in the province through this expo.
During the week-long agri-tourism exhibit, the different towns build their booths
showcasing the best qualities of their town and then present the products that their
respective towns produce. Over time due to the innovation and creativity of
Quezonians, the development of the Niyogyugan Festival continued to flourish.
Despite that, the celebration took a hiatus for three (3) years because of the COVID19 pandemic, however, just at the right time after the pandemic’s protocol was lifted,
In August 2022 the celebration was re-established that showcased a modest soft reopening in the form of Niyogyugan Festival’s Quezon day celebration, but because of
the progressive initiative of the Provincial Government of Quezon to continue the
celebration and promotion of Quezonian heritage, tradition, culture and arts, the
vitality and radiance of the Niyogyugan Festival has been restored until the present. 
            </span>
            <br><br><br>
            <span class="paragraph-text">
                Niyogyugan Festival is tagged as the mother of all festivals in the Province of Quezon,
it is a two (2) week celebration that showcases not only the main source of livelihood
in the province which is coconut but also highlights Quezon's rich heritage, culture,
arts, and traditions. "Niyogyugan" was derived from the words "niyog (coconut)'' and
"yugyog (dance)", The event presents Quezonians' beauty, creativity, talents, and the livelihood products harvested by the farmers from the thirty-nine (39) towns and
two (two) cities in the province.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                The Niyogyugan Festival’s opening day is always indeed culturally lavish as part of
the opening ceremony is the <span class="font-bold">Tagayan Booth</span> that serve as the welcoming booth for
all the visitors. Tagayan Booth showcases Quezon’s unique Tagayan culture and the
Tagayan Dance Ritual plus a miniature of a distillation process of Lambanog.
Alongside also the opening of Tara Na sa Quezon Information Booth which will be the
go-to booth of all visitors should they have any concern while within the festival
grounds. This booth also caters to those visitors who are interested to buy Tara na
sa Quezon Tour Packages highlighting different Agri-tourism Sites in the province.
There is also an Art Exhibit of our partner Artists’ guild which truly highlights the
cultures and traditions of Quezonians. Lastly there is also a photo exhibit featuring
Manuel L. Quezon’s life since Quezon Day coincides with Niyogyugan Festival.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                The most awaited event at every Niyogyugan Festival is the Agri-tourism Booth
Competition, the competition showcases all the agri-tourism products and services
of each municipality. Hundred (100%) of LGUs participates in the <span class="font-bold">Agri-tourism Booth
Competition</span>. LGUs decorated their booth to showcase their creativity, local culture,
traditions, and products. In addition, a tour package featuring the municipality is also
part of the judging component. More so, five percent (5%) of the total sales of the
agri-tourism booth shall automatically be donated to the Niyogyugan Foundation
which seeks to raise funds to finance programs or projects for the coconut farmers
such as scholarships for the farmer’s child, agricultural assistance, and among other
assistance based on the Niyogyugan Foundation’s prerogative, This is one of the
Provincial Government of Quezon’s initiative to highlight the importance on the
welfare of the farmers especially the coconut farmers of the province.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                Part of the celebration is the <span class="font-bold">Grand Parade</span> which features the <span class="font-bold">Street Dance and
Dance Showdown Competition</span> where municipalities were given the avenue to
promote not only the Niyogyugan Festival but also their town’s unique festivals. This
will highlight the culture and tradition of Quezonians through dance and props
manipulation. Also, part of the grand parade will be the <span class="font-bold">float decoration
competition</span> which will promote the local history, culture, and arts of each
municipality plus the agri-tourism products that they can offer. The said competition
will give importance to the contribution of the coconut industry to Quezon’s socioeconomic development. 
            </span>
            <br><br><br>
            <span class="paragraph-text">
                One of the main events of the Niyogyugan Festival is the search for <span class="font-bold">Ginoo at
Binibining Niyogyugan</span>. Candidates will be nominated by LGUs within the province
of Quezon. The Provincial Government of Quezon and the nominating LGU support
the candidacy of the candidates. To maximize and encourage aspiring beauty Kings
and Queens, the provincial government provides the outfit for the production attire
and swimsuit while the LGUs or the candidates' shoulders the festival wear and the
long gown. In addition, included also in the pageant is a competition among
Quezonian Designers which is converted to a pool of designers with whom can be
partners for livelihood projects for women such as buli weaving and the like.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                There are also other events and activities included in the Niyogyugan Festivals to
maximize the promotion and development of Quezon Province’s tourism, heritage,
culture, and arts such as;
            </span>
            <br><br><br>
            <span class="paragraph-text">
                The <span class="font-bold">Coco Zumba</span> dance contest as testament that tourism development is for
everyone regardless of gender. The said competition highlights health and fitness
and the dancing skills of the women sector in the entire province, <span class="font-bold">Kalusugan sa
Niyogyugan</span> an activity that will give free x-rays, vaccine, and other health services
in line with the life story of Manuel Luis Quezon who died of Tuberculosis. The
celebration seeks not only to promote tourism but to make sure that it advocates
and promotes the HEALING Agenda of the Provincial Government. The target
participants are the vendors in the Public Market, tricycle drivers and jeepney drivers,
those who do not have or lack the ability or time to go to hospitals, clinics or other
health facilities and/or those who do not have the ability to pay for the
aforementioned health services, and <span class="font-bold">TRIATHLON</span> for Niyogyugan Festival is another
way that offers experience for tourists and that would introduce some tourism sites
that can host sports tourism events and also sports tourism is one of the fastest
growing sectors in tourism especially during the pandemic. More and more tourists
are interested in sport activities during their trips whether sports are the main
objective of travel or not. Sport events of various kinds and sizes attract tourists as
participants or spectators and destinations try to add local flavors to them to
distinguish themselves and provide authentic local experiences.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                Amongst with these various activities of coconut farmers in Niyogyugan Festival is
the <span class="font-bold">Cocolympics</span> that provide a platform for youth empowerment and leadership
development. By actively involving young people in the organization and
management of the event, the Cocolympics empower them to take on leadership
roles, make meaningful contributions, and effect positive change in their
communities. At the heart of the Cocolympics is the spirit of sportsmanship and fair
play. Participants are encouraged to compete with integrity, respect, and adherence
to ethical standards, emphasizing the importance of camaraderie and mutual respect
over individual achievement. By promoting these values, the Cocolympics instills
important life lessons in participants, fostering a sense of responsibility and integrity
that extends beyond the realm of sports. Through this hands-on experience,
participants develop essential skills such as teamwork, communication, and problemsolving, preparing them to become future leaders and global citizens.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                <span class="font-bold">Lambanog</span> is a traditional Filipino spirit that comes from distilled natural fermented
coconut sap. Quezon Province vastly produces lambanog in the CALABARZON Region
due to its expansive land area of coconut plantations. Lambanog has been part of the
province’s rich heritage and it is now recognized as 2nd best spirit in the world and
as aforementioned The tagayan ritual is part of a rich tradition, an intangible heritage
in the Province of Tayabas (Quezon Province), It is a way of welcoming guests or
visitors and can also be part of a meeting, sessions, and any celebration in the
province, town, barangay, or a community, displaying the warmth, unity, gender
equality, and camaraderie of Quezonians, which entails the drinking of lambanog. As
the grandest festival in Quezon Province the very essence of the celebration is to give
recognition and boost the welfare of Quezonian farmers, especially the Coconut
farmers. With this, it is of vital importance to highlight lambanog and tagayan in the
celebration due to their great significance in the province’s heritage, hence, added to
the celebration are the <span class="font-bold">Lambanog summit</span> where coconut farmers, lambanog
processors, resellers, lambanog stakeholders, private institutions and government
agencies are gathered in a summit to identify the challenges and opportunities and
draw out possible solutions resulting to a more vibrant lambanog industry. This oneday activity’s outputs are; information transfer to lambanog stakeholders, roles and
functions of invited agencies to lambanog industry, and market matching among
others. contests and games are also offered to establish strong camaraderie among coconut farmers, along with this are the <span class="font-bold">Grand Tagayan Day Music Fest and
Lambanog Mixology Contest</span> which showcase the profound culture and tradition of
the Tagayan Ritual from the different municipalities in the Province of Quezon.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                Finally, as mentioned above Niyogyugan Festival also coincides with Manuel Quezon’s
Life with the celebration of <span class="font-bold">Buwan ng Wikang Filipino and Quezon Day</span> which
makes the festival a celebration not only of our tourism products but also of our rich
heritage and history that would make every Quezonians proud of our province. Other
activities for Niyogyugan Festival are <span class="font-bold">the Manuel L. Quezon Lecture Series, Quiz
Bee, and Wreath Laying</span> in commemoration of the birth and to give honor to the
late President Manuel Luis Quezon. This activity will highlight the life of Manuel
Quezon. The goal of this activity is to inculcate the contributions of Manuel L. Quezon
to our nation’s progress and development and how he became the “Ama ng Wikang
Pambansa”.
            </span>
            <br><br><br>
            <span class="paragraph-text">
                In conclusion, The Niyogyugan Festival showcases great significance in the country
and the province’s promotion and development of tourism, heritage, culture and arts
with cautious consideration for the welfare and importance of history, environment
and the citizens, Niyogyugan Festival although a developing festival is already a
sustainable cultural festival that will continue to flourish.
            </span>
            <br><br><br>
        </div>
    </div>
</div>
