<div class="max-w-full h-auto bg-white rounded-md">
    <div class="block mx-auto text-center py-8 px-10">
        <span class="page-title">SCHEDULE OF ACTIVITIES</span>
    </div>
    <div class="block mx-auto text-center pb-10">
        <div class="schedule-bg-container rounded-lg mx-2 lg:px-2 lg:mx-10 xl:px-2 xl:mx-10">
            <img src="assets/schedule_xl.png" class="max-w-full h-auto hidden lg:block xl:block">
            <img src="assets/schedule_sm.png" class="max-w-full h-auto block lg:hidden xl:hidden">
        </div>
    </div>
</div>
