.page-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 38.51pt;
    color: #058bff;
    font-weight: 400;
    font-style: normal;
}

.schedule-bg-container {
    background: #121b76;
}