<ngx-loading-bar color="#f86a34" height="5px" ref="http" ref="http"></ngx-loading-bar>
<div class="max-w-full h-auto bg-white rounded-md">
    <div class="block mx-auto text-center py-10 my-5">
        <span class="page-title">NEWS &#38; UPDATES</span>
    </div>
    <div class="block mx-auto">
        <mat-progress-bar [mode]="load_bar_mode" *ngIf="isLoading"></mat-progress-bar>
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 px-5 sm:px-12 md:px-12 lg:px-12 xl:px-16">
            <div *ngFor="let item of news_list;">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pb-10">
                    <div class="mx-auto pb-10">
                        <img class="object-cover w-96 h-auto rounded" [src]="img_url+item.news_cover_img">
                    </div>
                    <div>
                        <div class="flex flex-col justify-between leading-normal">
                            <h4 class="news-text mb-2 text-xl text-center sm:text-center md:text-center lg:text-left xl:text-left font-bold tracking-tight text-red-500">{{ item.news_article_date }}</h4><br>
                            <h4 class="news-text mb-2 text-2xl text-center sm:text-center md:text-center lg:text-left xl:text-left font-bold tracking-tight text-gray-900">{{ item.news_title }}</h4><br>
                            <h4 class="news-text mb-3 text-xl text-center sm:text-center md:text-center lg:text-left xl:text-left font-normal text-gray-700">{{ item.news_desc }}</h4><br>
                            <div class="block mx-auto">
                                <a [href]="item.news_link" role="button" mat-raised-button target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="flex flex-col items-center border bg-white rounded-lg shadow md:flex-row lg:flex-row xl:flex-row md:max-w-xl lg:max-w-xl xl:max-w-xl hover:bg-gray-100">
                    <img class="object-cover w-full rounded-t-lg h-96 sm:max-w-full sm:h-auto md:h-32 md:w-64 md:rounded-none md:rounded-s-none" [src]="img_url+item.news_cover_img">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-base text-center sm:text-center md:text-center lg:text-left xl:text-left font-bold tracking-tight text-red-600 dark:text-white">{{ item.news_article_date }}</h5>
                        <h5 class="mb-2 text-xl text-center sm:text-center md:text-center lg:text-left xl:text-leftfont-bold tracking-tight text-gray-900 dark:text-white">{{ item.news_title }}</h5>
                        <p class="mb-3 text-base text-center sm:text-center md:text-center lg:text-left xl:text-left font-normal text-gray-700 dark:text-gray-400">{{ item.news_desc }}</p>
                        <div class="block mx-auto">
                            <a [href]="item.news_link" role="button" mat-raised-button target="_blank">Read More</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
