.page-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 38.51pt;
    color: #058bff;
    font-weight: 400;
    font-style: normal;
}

.news-text {
    font-family: "Camphor W01 Medium", sans-serif;
}