<div class="flex flex-col items-center min-h-screen">
    <a href="/about">
      <img class="max-w-40 sm:max-w-46 md:max-w-60 lg:max-w-72 xl:72 h-auto" src="assets/float/float_logo.png" alt="Bida Ka sa Float Logo">
    </a>
   
    <div class="container p-6 sm:p-8 md:p-10 lg:p-12 xl:p-16 border-festive bg-white shadow-2xl rounded-lg">
      <section class="mb-6 sm:mb-8">
        <h3 class="text-xl sm:text-2xl font-semibold text-gray-700 mb-2">
          For complete details & mechanics of <span class="italic text-orange-500 text-2xl">Bida ka sa Niyogyugan Float 2024 </span> <a href="/bida" class="text-blue-500 hover:underline">click here</a>
        </h3>
      </section>
      
      <section class="mb-6 sm:mb-8">
        <h2 class="text-xl sm:text-2xl font-semibold text-gray-700 mb-2">Data Privacy</h2>
        <p class="text-gray-600" align="justify">
          In compliance with the requirements of Republic Act No. 10773 otherwise known as the Data Privacy Act of 2012, 
            the Provincial Tourism commits to ensure that all personal information 
            obtained will be secured and remain confidential. Collected personal information will only be utilized for purpose of 
            validation. 
            The personal information shall not be shared or disclosed with other parties without consent unless the disclosure is 
            required by, or in compliance with applicable laws and regulations.
        </p>
      </section>
      
      <section class="mb-6 sm:mb-8">
        <h2 class="text-xl sm:text-2xl font-semibold text-gray-700 mb-2">Contact</h2>
        <p class="text-gray-600">
          Got questions? Feel free to reach out to us at <a href="mailto:support@example.com" class="text-blue-500 hover:underline">tourismquezon&#64;yahoo.com.ph</a>. We’re here to help!
        </p>
      </section>
      
      <div class="text-center mb-6">
        <a href="/float-vote-choices" class="btn-vote">VOTE NOW</a>
      </div>
      
      <footer class="text-center text-gray-500 text-sm">
        &copy; 2024 Voting Event. All rights reserved.
      </footer>
    </div>
  </div>


  