<div class="grid grid-rows-1 grid-cols-3 mt-5 mb-3">
	<div></div>
	<div>
		<div class="flex justify-center text-center text-xl font-weight-bold">
			<mat-icon>edit</mat-icon> {{ username }}
		</div>
	</div>
	<div class="px-3">
		<div class="flex justify-end">
			<button mat-mini-fab color="accent" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
		</div>
	</div>
</div>
<mat-dialog-content>
	<mat-accordion>
		<!-- <mat-expansion-panel *ngIf="main_permission.includes(3.2)"> -->
		<mat-expansion-panel [disabled]="main_permission.includes(3.02) ? false : true">
    		<mat-expansion-panel-header>
      			<mat-panel-title>
      				<mat-icon class="mr-2">info</mat-icon> Basic Info
      			</mat-panel-title>
    		</mat-expansion-panel-header>
    		<form [formGroup]="updateBasicInfoForm" (submit)="updateBasicInfo()" novalidate>
				<mat-form-field appearance="fill" [style.width.%]="100">
					<mat-label>Username</mat-label>
					<input matInput type="text" placeholder="Username" id="username" name="username" formControlName="username" autocomplete="on" required>
					<mat-error *ngIf="getBasicInfoControl.username.errors?.required">Field is Required</mat-error>
					<mat-error *ngIf="getBasicInfoControl.username.errors?.pattern">Only numerical values are allowed</mat-error>
				</mat-form-field>
				<br><br>
				<mat-form-field appearance="fill" [style.width.%]="100">
					<mat-label>Full Name</mat-label>
					<input matInput type="text" placeholder="Full Name" id="fullname" name="fullname" formControlName="fullname" autocomplete="on" required>
					<mat-error *ngIf="getBasicInfoControl.username.errors?.required">Field is Required</mat-error>
				</mat-form-field>
				<br><br>
				<h2 class="font-semibold">Account Permissions</h2>
				<mat-error *ngIf="getBasicInfoControl.permission_arr.errors?.required">Select at least one!</mat-error>
				<br><br>
				<div class="grid grid-rows-1 grid-cols-2 grid-items-stretch gap-4">
					<div *ngFor="let item of permission_arr">
						<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
							<div class="flex items-center justify-between mb-4">
								<mat-checkbox [value]="item.id" [checked]="item.isSelected" color="primary" (change)="onCheckboxChangePermissionArr($event,item)">
									<h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">{{ item.permission }}</h5>
								  </mat-checkbox>
							</div>
						   <div class="flow-root">
								<ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
									<li class="py-3 sm:py-4" *ngFor="let sub_item of item.sub_permission">
										<div class="flex items-center">
											<mat-checkbox [value]="sub_item.id" [checked]="sub_item.isSelected" color="primary" (change)="onCheckboxChangeSubPermissionArr($event)">
												{{ sub_item.permission }}
											</mat-checkbox>
										</div>
									</li>
								</ul>
						   </div>
						</div>
					</div>
				</div>
		      	<br><br>
		      	<mat-form-field appearance="fill" [style.width.%]="100">
					<mat-label>Account Active</mat-label>
					<mat-select id="active" name="active" formControlName="active" required>
						<mat-option value="1">Yes</mat-option>
						<mat-option value="0">No</mat-option>
					</mat-select>
					<mat-error *ngIf="getBasicInfoControl.username.errors?.required">Field is Required</mat-error>
				</mat-form-field>
				<div class="flex justify-center">
					<button mat-raised-button [disabled]="updateBasicInfoForm.invalid">Submit</button>
				</div>
			</form>
  		</mat-expansion-panel>
  		<!-- <mat-expansion-panel *ngIf="main_permission.includes(3.4)"> -->
		<mat-expansion-panel [disabled]="main_permission.includes(3.04) ? false : true">
    		<mat-expansion-panel-header>
      			<mat-panel-title>
      				<mat-icon class="mr-2">portrait</mat-icon> Profile Picture
      			</mat-panel-title>
    		</mat-expansion-panel-header>
    		<img class="w-40 h-40 relative flex justify-center items-center mx-auto rounded-full mb-5" [src]="img_url+profile_pic" alt="Rounded avatar">
			<ngx-file-drop dropZoneLabel="Drop single file or multiple files here..." (onFileDrop)="dropped($event)" 
			[multiple]="false">
				<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
					Drop Files here Or... 
					<button mat-raised-button (click)="openFileSelector()">Browse Files</button>
				</ng-template>
			</ngx-file-drop>
			<br><br>
			<table mat-table [dataSource]="files_arr" class="mat-elevation-z8 w-full">
				<!--- Note that these columns can be defined in any order.
					  The actual rendered columns are set as a property on the row definition" -->
				<!-- Name Column -->
				<ng-container matColumnDef="name">
				  <th mat-header-cell *matHeaderCellDef>File Name</th>
				  <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
				</ng-container>
	  
				<!-- Action Column -->
				<ng-container matColumnDef="action">
				  <th mat-header-cell *matHeaderCellDef>Action</th>
				  <td mat-cell *matCellDef="let element; let i = index"> 
					  <button mat-raised-button color="warn" (click)="removeFile(i)">
						  <mat-icon>delete</mat-icon> Delete 
					  </button>
				  </td>
				</ng-container>
	  
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		  	</table>
			<br><br>
			<div class="flex justify-center items-center">
		    	<button mat-raised-button color="primary" [disabled]="files_arr.length == 0" (click)="updateProfilePic()">Submit</button>
                <!-- <button mat-raised-button color="primary" [disabled]="files_arr.length == 0">Submit</button> -->
		  	</div>
    	</mat-expansion-panel>
    	<!-- <mat-expansion-panel *ngIf="main_permission.includes(3.3)"> -->
		<mat-expansion-panel [disabled]="main_permission.includes(3.03) ? false : true">
    		<mat-expansion-panel-header>
      			<mat-panel-title>
      				<mat-icon class="mr-2">lock</mat-icon> Password
      			</mat-panel-title>
    		</mat-expansion-panel-header>
    		<form [formGroup]="updatePasswordForm" (submit)="updatePassword()" novalidate>
            <!-- <form [formGroup]="updatePasswordForm" novalidate> -->
				<mat-form-field appearance="fill" [style.width.%]="100">
					<mat-label>New Password</mat-label>
					<input matInput type="password" placeholder="New Password" id="password" name="password" formControlName="password" autocomplete="on" required>
					<mat-error *ngIf="getPasswordControl.password.errors?.required">Field is Required</mat-error>
				</mat-form-field>
				<br><br>
				<mat-form-field appearance="fill" [style.width.%]="100">
					<mat-label>Confirm New Password</mat-label>
					<input matInput type="password" placeholder="Confirm New Password" id="confirm_password" name="confirm_password" formControlName="confirm_password" autocomplete="on" required>
					<mat-error *ngIf="getPasswordControl.confirm_password.errors?.required">Field is Required</mat-error>
				</mat-form-field>
				<div class="flex justify-center">
					<button mat-raised-button [disabled]="updatePasswordForm.invalid">Submit</button>
				</div>
			</form>
    	</mat-expansion-panel>
		<mat-expansion-panel [disabled]="main_permission.includes(3.05) ? false : true">
    		<mat-expansion-panel-header>
      			<mat-panel-title>
      				<mat-icon class="mr-2">refresh</mat-icon> Reset Login Attempt
      			</mat-panel-title>
    		</mat-expansion-panel-header>
    		<div class="flex justify-center">
				<button mat-raised-button (click)="resetLoginAttempts()">Reset</button>
                <!-- <button mat-raised-button class="mat-primary">Reset</button> -->
			</div>
    	</mat-expansion-panel>
	</mat-accordion>
</mat-dialog-content>

