<div class="overall-bg">
    <div class="flex justify-center items-center z-10 pt-1 sm:pt-3 md:pt-5 lg:pt-6 xl:pt-9">
      <img class="max-w-44 sm:max-w-46 md:max-w-60 lg:max-w-72 xl:max-w-md h-auto" src="assets/niyogyugan_tabulation_logo_glow.png" alt="alternate text">
    </div>
    <div class="max-w-full h-auto mt-9 px-2 sm:px-5 md:px-10 lg:px-20 xl:px-20">
      <div class="max-w-full block mx-auto">
        <div class="grid grid-cols-1 content-center lg:grid-cols-4 xl:grid-cols-8 gap-4">
          <div class="hidden lg:block xl:block">
            <div class="grid grid-cols-1 text-center">
              <div>
                <button class="niyogyugan-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/about']" routerLinkActive="niyogyugan-btn-active">
                  BRIEF HISTORY
                </button>
              </div>
              <div>
                <button class="schedule-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/schedule']" routerLinkActive="schedule-btn-active">
                  SCHEDULE
                </button>
              </div>
              <div>
                <button class="leaderboard-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/leaderboard']" routerLinkActive="leaderboard-btn-active">
                  LEADERBOARD
                </button>
              </div>
              <div>
                <button class="list-of-activities-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/activities']" routerLinkActive="list-of-activities-btn-active">
                  LIST OF ACTIVITIES
                </button>
              </div>
              <div>
                <button class="guidelines-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/guidelines']" routerLinkActive="guidelines-btn-active">
                  GUIDELINES
                </button>
              </div>
              <div>
                <button class="news-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/news']" routerLinkActive="news-btn-active">
                  NEWS &#38; UPDATES
                </button>
              </div>
              <div>
                <a  [routerLink]="['/vote']" class="" routerLinkActive="guidelines-btn-active">
                  <img class="max-w-20 sm:max-w-26 md:max-w-35 lg:max-w-40 xl:max-w-40 h-auto hover:max-w-30 transition-all duration-300" src="assets/float/float_logo.png" alt="Bida Ka sa Float Logo">
                </a>
                <!-- <button class="float-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/vote']" routerLinkActive="guidelines-btn-active">
                  BIDA KA SA FLOAT
                </button> -->
              </div>
            </div>
          </div>
          <div class="block lg:hidden xl:hidden">
            <div class="grid grid-cols-1 justify-items-stretch md:grid-cols-4 sm:grid-cols-2 gap-1">
              <div>
                <button class="niyogyugan-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/about']" routerLinkActive="niyogyugan-btn-active">
                  BRIEF HISTORY
                </button>
              </div>
              <div>
                <button class="schedule-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/schedule']" routerLinkActive="schedule-btn-active">
                  SCHEDULE
                </button>
              </div>
              <div>
                <button class="leaderboard-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/leaderboard']" routerLinkActive="leaderboard-btn-active">
                  LEADERBOARD
                </button>
              </div>
              <div>
                <button class="list-of-activities-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/activities']" routerLinkActive="list-of-activities-btn-active">
                  LIST OF ACTIVITIES
                </button>
              </div>
              <div>
                <button class="guidelines-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/guidelines']" routerLinkActive="guidelines-btn-active">
                  GUIDELINES
                </button>
              </div>
              <div>
                <button class="news-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/news']" routerLinkActive="news-btn-active">
                  NEWS &#38; UPDATES
                </button>
              </div>
              <div>
                <button class="float-btn text-sm my-1 py-2 px-4 rounded-lg w-full h-12 inline-flex items-center" [routerLink]="['/vote']" routerLinkActive="guidelines-btn-active">
                  BIDA KA SA FLOAT
                </button>
              </div>
              <div>
              </div>
            </div>

            <!-- <div class="flex justify-center rounded-lg mb-4" role="group">
              <button class="niyogyugan-btn text-sm rounded-l-lg px-4 py-2 mx-0 outline-none" [routerLink]="['about']" routerLinkActive="niyogyugan-btn-active">NIYOGYUGAN</button>
              <button class="schedule-btn text-sm px-4 py-2 mx-0 outline-none" [routerLink]="['schedule']" routerLinkActive="schedule-btn-active">SCHEDULE</button>
              <button class="leaderboard-btn text-sm px-4 py-2 mx-0 outline-none">LEADERBOARD</button>
              <button class="list-of-activities-btn text-sm px-4 py-2 mx-0 outline-none" [routerLink]="['activities']" routerLinkActive="list-of-activities-btn-active">LIST OF ACTIVITIES</button>
              <button class="guidelines-btn text-sm rounded-r-lg px-4 py-2 mx-0 outline-none" [routerLink]="['guidelines']" routerLinkActive="guidelines-btn-active">GUIDELINES</button>
            </div> -->
          </div>
          <div class="lg:col-span-3 xl:col-span-6 pb-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
