.page-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 38.51pt;
    color: #058bff;
    font-weight: 400;
    font-style: normal;
}

.ranking-container-bg {
    background: #e9f6ff;
}

.rank-no-text {
    font-family: "Anton", sans-serif;
    color: #f26419;
    font-weight: 400;
    font-style: normal;
}

.rank-municipality-text {
    font-family: "Anton", sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.contest-text {
    font-family: "Camphor W01 Medium", sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    word-wrap: normal;
}

.contest-score-text {
    font-family: "Camphor W01 Medium", sans-serif;
    color: #000000;
    font-weight: 900;
    font-style: normal;
}