<ngx-loading-bar color="#f86a34" height="5px" ref="http" ref="http"></ngx-loading-bar>
<div class="max-w-full h-auto bg-white rounded-md">
    <div class="block mx-auto text-center py-8">
        <span class="page-title">LIST OF ACTIVITIES</span>
    </div>
    <div class="block mx-auto text-center">
        <mat-progress-bar [mode]="load_bar_mode" *ngIf="isLoading"></mat-progress-bar>
        <div class="grid grid-cols-1 content-center md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 auto-rows-fr gap-10 px-5 pb-10 sm:px-12 md:px-12 lg:px-12 xl:px-16">
            <div *ngFor="let item of list_of_activities; let i = index" class=" bg-white border border-gray-200 rounded-lg hover:bg-gray-200 shadow-md hover:shadow-lg">
                <img class="max-w-full h-auto rounded-t-lg" [src]="item.a_icon" alt="" />
                <div class="pl-5 text-left">
                    <span class="text-xl activity-date-and-time-text">{{ item.a_date }} | {{ item.a_time }}</span>
                    <br>
                    <br>
                    <span class="text-md activity-venue-text">{{ item.a_venue }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

