.page-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 38.51pt;
    color: #058bff;
    font-weight: 400;
    font-style: normal;
}

.activity-date-and-time-text {
    font-family: "Camphor W01 Bold" !important;
    color: #000000 !important;
    font-weight: 700;
}

.activity-venue-text {
    font-family: "Camphor W01 Regular" !important;
    color: #000000 !important;
    font-weight: 700;
}