<div class="max-w-full block mx-auto">
    <form [formGroup]="appendForm" novalidate>
      <div class="grid grid-cols-1 content-center md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-2">
        <div class="text-center">
            <mat-form-field appearance="fill" [style.width.%]="100">
                <mat-label>Contest Name</mat-label>
                <input matInput type="text" placeholder="Contest Name" aria-label="Contest Name" formControlName="contest_name" [matAutocomplete]="contest_auto">
                <mat-icon matSuffix>arrow_drop_down</mat-icon>  
                <mat-autocomplete #contest_auto="matAutocomplete">
                    <mat-option *ngFor="let c of (filteredContests | async)" [value]="c.c_name" (onSelectionChange)="onContestSelect($event,c)">
                      {{ c.c_name }}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" [style.width.%]="100">
                <mat-label>Municipality/City</mat-label>
                <input matInput type="text" placeholder="Municipality/City" aria-label="Municipality/City" formControlName="municipality_name" [matAutocomplete]="municipalities_auto">
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete #municipalities_auto="matAutocomplete">
                    <mat-option *ngFor="let munic of (filteredMunicipalities | async)" [value]="munic.munic_name" (onSelectionChange)="onMunicipalitySelect($event,munic)">
                      {{ munic.munic_name }}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field>
        </div>
      </div>
      <div class="text-center pt-2">
        <button mat-raised-button aria-label="Example icon button with a delete icon" (click)="addToTable()">
          <mat-icon>add</mat-icon> Append to Table
        </button>
      </div>
      <br><br>
      <ng-container formArrayName="munic_arr">
        <table #consolation_munic_table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

            <!-- Municipality/City -->
            <ng-container matColumnDef="municipality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipality/City </th>
                <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                    <mat-form-field appearance="fill" [style.width.%]="100" class="mt-5">
                        <input matInput type="text" placeholder="Municipality/City" aria-label="Municipality/City" formControlName="municipality" readonly>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <!-- Contest -->
            <ng-container matColumnDef="contest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contest </th>
                <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                    <mat-form-field appearance="fill" [style.width.%]="100" class="mt-5">
                        <input matInput type="text" placeholder="Contest" aria-label="Contest" formControlName="contest" readonly>
                    </mat-form-field>
                </td>
            </ng-container>
    
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                    <button mat-icon-button color="warn" (click)="deleteRow(i)">
                        <mat-icon>delete</mat-icon> 
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
      <br><br>
      <div class="text-center pt-2">
        <mat-form-field appearance="fill" class="w-max">
          <mat-label>Score to be Added</mat-label>
          <input matInput type="text" placeholder="Score to be Added" id="score_to_be_added" name="score_to_be_added" formControlName="score_to_be_added" autocomplete="on" required>
          <mat-error *ngIf="getControl.score_to_be_added.errors?.required">Field is Required</mat-error>
          <mat-error *ngIf="getControl.score_to_be_added.errors?.pattern">Only numerical values are allowed</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="text-center pt-2">
        <button mat-raised-button aria-label="Example icon button with a delete icon" [disabled]="appendForm.invalid" (click)="updateConsolationScores()" *ngIf="main_permission.includes(5.01)">
          <mat-icon>edit</mat-icon> Update Scores
        </button>
      </div>
    </form>
</div>
